@font-face
  font-family: 'maison_neuelight';
  src: url('../fonts/Maison-neue/maisonneue-bold-webfont.woff2') format('woff2'),
       url('../fonts/Maison-neue/maisonneue-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

@font-face {
    font-family: 'maison_neuelight';
    src: url('../fonts/Maison-neue/maisonneue-light-webfont.woff2') format('woff2'),
         url('../fonts/Maison-neue/maisonneue-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
  font-family: 'maison_neuebold_italic';
  src: url('../fonts/Maison-neue/maisonneue-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/Maison-neue/maisonneue-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'maison_neuemedium';
  src: url('../fonts/Maison-neue/maisonneue-medium-webfont.woff2') format('woff2'),
       url('../fonts/Maison-neue/maisonneue-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'maison_neuemedium_italic';
  src: url('../fonts/Maison-neue/maisonneue-mediumitalic-webfont.woff2') format('woff2'),
       url('../fonts/Maison-neue/maisonneue-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;




@font-face {
	font-family: 'Noe Display';
	src: url('../fonts/noeDisplay/NoeDisplay-Bold.eot');
	src: url('../fonts/noeDisplay/NoeDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/noeDisplay/NoeDisplay-Bold.woff') format('woff'),
		url('../fonts/noeDisplay/NoeDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noe Display';
	src: url('../fonts/noeDisplay/NoeDisplay-BoldItalic.eot');
	src: url('../fonts/noeDisplay/NoeDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/noeDisplay/NoeDisplay-BoldItalic.woff') format('woff'),
		url('../fonts/noeDisplay/NoeDisplay-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Noe Display';
	src: url('../fonts/noeDisplay/NoeDisplay-BlackItalic.eot');
	src: url('../fonts/noeDisplay/NoeDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/noeDisplay/NoeDisplay-BlackItalic.woff') format('woff'),
		url('../fonts/noeDisplay/NoeDisplay-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Noe Display';
	src: url('../fonts/noeDisplay/NoeDisplay-MediumItalic.eot');
	src: url('../fonts/noeDisplay/NoeDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/noeDisplay/NoeDisplay-MediumItalic.woff') format('woff'),
		url('../fonts/noeDisplay/NoeDisplay-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Noe Display';
	src: url('../fonts/noeDisplay/NoeDisplay-RegularItalic.eot');
	src: url('../fonts/noeDisplay/NoeDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/noeDisplay/NoeDisplay-RegularItalic.woff') format('woff'),
		url('../fonts/noeDisplay/NoeDisplay-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Noe Display';
	src: url('../fonts/noeDisplay/NoeDisplay-Medium.eot');
	src: url('../fonts/noeDisplay/NoeDisplay-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/noeDisplay/NoeDisplay-Medium.woff') format('woff'),
		url('../fonts/noeDisplay/NoeDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Noe Display';
	src: url('../fonts/noeDisplay/NoeDisplay-Regular.eot');
	src: url('../fonts/noeDisplay/NoeDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/noeDisplay/NoeDisplay-Regular.woff') format('woff'),
		url('../fonts/noeDisplay/NoeDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noe Display';
	src: url('../fonts/noeDisplay/NoeDisplay-Black.eot');
	src: url('../fonts/noeDisplay/NoeDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/noeDisplay/NoeDisplay-Black.woff') format('woff'),
		url('../fonts/noeDisplay/NoeDisplay-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
